neverallow ephemeral_app mlstrustedsubject:process fork;
neverallow isolated_app mlstrustedsubject:process fork;
neverallow isolated_app_all mlstrustedsubject:process fork;
neverallow isolated_compute_app mlstrustedsubject:process fork;
neverallow mediaprovider mlstrustedsubject:process fork;
neverallow mediaprovider_app mlstrustedsubject:process fork;
neverallow untrusted_app mlstrustedsubject:process fork;
neverallow untrusted_app_25 mlstrustedsubject:process fork;
neverallow untrusted_app_27 mlstrustedsubject:process fork;
neverallow untrusted_app_29 mlstrustedsubject:process fork;
neverallow untrusted_app_30 mlstrustedsubject:process fork;
neverallow untrusted_app_all mlstrustedsubject:process fork;
